# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Marty Berryman
	email = mqarty@gmail.com

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[alias]
	ad = add
	df = diff
    co = checkout
	chekcout = checkout --- IGNORE ---
	st = status -sb
	cm = commit -m
	br = branch
	prune-gone = "!git branch --merged | grep -v '^\\*\\|main\\|master\\|develop' | xargs git branch -d"


[branch]
	# from https://youtu.be/aolI_Rz0ZqY?t=1034
	sort = -committerdate

[pager]
	branch = false
