# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Marty Berryman
	email = mqarty@gmail.com

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[alias]
    co = checkout
	p = push
	st = status -sb
	cm = commit -m
	br = branch
	prune-gone = "!git fetch --all --prune && for b in $(git branch -vv | awk '/: gone]/{print $1}'); do git branch --merged | grep -q \"^[* ] $b$\" && git branch -d \"$b\"; done"

[branch]
	# from https://youtu.be/aolI_Rz0ZqY?t=1034
	sort = -committerdate

[pager]
	branch = false
